/* Mist color scheme */
.home-page {
    background-color: #F3DEBA;
    color: #333;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60");
  }
  .home-page .subpage h1{
    color: #675D50;
    font-size: 40px;
  }
  .home-page .subpage p{
    color: #A9907E;
    margin-top: -30px;
  }
  
  /* Stone color scheme */
  .home-page.stone {
    background-color: #F3DEBA;
    color: #444;
  }
  
  /* Shadow color scheme */
  .home-page.shadow {
    background-color: #F3DEBA;
    color: #555;
  }
  
  /* Autumn Foliage color scheme */
  .home-page.autumn-foliage {
    background-color: #F3DEBA;
    color: #663300;
  }
  
  .home-page h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .home-page p {
    font-size: 16px;
    margin-bottom: 24px;
  }
  
  .home-page a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .home-page a:hover {
    background-color: #0056b3;
  }
  